{{!-- Large brand mark + wordmark as a closing visual beat before the
      footer, echoing the header lockup at bigger scale. Purely a design
      flourish, matches header/site-header.hbs. --}}
<section class="brand-sendoff">
    <span class="brand-sendoff__mark">{{> "krino-mark" size="64px" ring=true}}</span>
    <span class="brand-sendoff__wordmark">KRINO <span class="brand-sendoff__wordmark-sub">MEDIA</span></span>
</section>
